.header_top {
  padding-top: 1em;
  width: 100%;
  height: 100px;
  background-color: #434343;
  font-family: 'Roboto Condensed', sans-serif;
}

form.Header-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 1em;
  width: 400px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
}

.search-input {
  border: none;
  width: 80%;
  height: 100%;
  outline: none;
}

form button {
  border: none;
  background: #fff;
  cursor: pointer;
}

.filter {
  display: flex;
  justify-content: center;
}

#word {
  margin-right: 5px;
}

#date {
  margin-right: 5em;
}
