.wrapper {
  width: 300px;
  margin: 2em;
}

.wrapper:hover{
  box-shadow: 0 -3px 10px 5px rgb(105, 105, 105);
}

img {
  width: 300px;
  height: 200px;
  background-color: #e9e5de;
  box-shadow: 0 -3px 10px 5px rgb(205, 205, 205);
  border-radius: 0.5em 0.5em 0 0;
}

ul {
  background-color: white;
  list-style-type: none;
  padding: 1em;
  height: 8em;
  box-shadow: 0 3px 10px 5px rgb(205, 205, 205);
  border-radius: 0 0 0.5em 0.5em;
}

li {
  text-align: left;
  margin: 0.8rem;
}

.wrapper a {
  text-decoration: none;
  color: rgb(67, 67, 67);
}
.wrapper-title {
  font-size: 0.9em;
  font-weight: bold;
}

.wrapper-date,
.wrapper-tag,
.wrapper-url,
.wrapper-keyword {
  font-size: 0.7em;
}
