.wrapper {
  width: 300px;
  margin: 2em;
}

img {
  width: 300px;
  height: 200px;
  background-color: #E9E5DE;
  box-shadow: 0 -3px 10px 5px rgb(205, 205, 205);
  border-radius: 0.5em 0.5em 0 0;
}

ul {
  background-color: white;
  list-style-type: none;
  padding: 1em;
  box-shadow: 0 3px 10px 5px rgb(205, 205, 205);
  border-radius: 0 0 0.5em 0.5em;
}

li {
  text-align: left;
  margin: 0.8rem;
}

.wrapper-title {
  font-size: 0.9em;
}

.wrapper-date,
.wrapper-tag,
.wrapper-url {
  font-size: 0.7em;
}
